.container-fluid.vh-100
  %h1.fs-2.text-center.my-4 タスク一覧
  .d-flex.gap-2
    - status_hash = Task.status.options.map { [it[1].to_sym, it[0]] }.to_h
    - status_hash.each do |key, value|
      .w-25.d-flex.flex-column.align-items-center.gap-2
        .bg-info.text-center.w-100
          %h3.fs-4.mb-0.py-2.text-white= value
        .list-group.w-100
          - @tasks.with_status(key).each do |task|
            = link_to edit_task_path(task), class: "list-group-item list-group-item-action" do
              = task.name
