= simple_form_for [ task, time_entry ], html: { class: "d-flex gap-2" } do |f|
  = f.input :content, label: false, placeholder: "やろうとしていること、やったことを記録しよう", wrapper_html: { class: "flex-grow-1" }
  = f.button :submit, submit_button_label(time_entry), class: "btn btn-secondary mb-3"
