.row.justify-content-center.align-items-center.mt-5
  .col-md-8.col-11
    .vstack.gap-2.mb-3
      - @notifications.each do |notification|
        - case notification
        - when ChallengeNotification
          - challenge = notification.challenge
          = link_to [ challenge.source, challenge, action: :edit ], class: "text-decoration-none" do
            = render "challenges/challenge", challenge:
        - else
          - raise "Unknown notification type: #{notification.class}"
      = paginate @notifications
