.row.justify-content-center.align-items-center
  .col-md-8.col-11
    %h1.fs-2.text-center.my-4 小さな挑戦
    .mb-3= render "form", achievement: @achievement, challenge: @challenge
    = link_to "実績に戻る", edit_achievement_path(@achievement), class: "btn btn-link"
