%h1 Home#index
%p Find me in app/views/home/index.html.erb

= simple_form_for :user do |f|
  = f.button :submit

= button_to "ログアウト", session_path, method: :delete, data: { turbo_confirm: "ログアウトしますか？" }, class: "btn btn-danger"
