.row.justify-content-center.align-items-center
  .col-md-8.col-11
    %h1.fs-2.text-center.my-4 行動を作成
    .mb-3= render "form", activity: @activity, tasks: @tasks
    = link_to "一覧に戻る", activities_path, class: "btn btn-link"
